.side-nav-section {
  background-color: #292929;
  width: 12%;
  height: 100vh;
  padding: 20px 5px;
}

.gnb-wrapper {
  width: 200px;
  margin: 0 auto;
  height: 100%;
}

.gnb-wrapper ul > li {
  margin-bottom: 40px;
}

.gnb-contents {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
}

.ghb-sub {
  padding-left: 10px;
}

.ghb-sub ul > li {
  margin: 15px 0;
}
