.main-wrapper {
  width: 80%;
  height: 100%;
  position: absolute;
  left: 14%;
  top: 95px;
  padding: 20px;
  margin-bottom: 30px;
}

.ck-editor__editable:not(.ck-editor__nested-editable) {
  min-height: 400px;
}

.news-title {
  padding: 10px 0;
  margin: 20px 0;
}

.news-title h2 {
  font-size: 22px;
  font-weight: bold;
}

.submit-button {
  padding: 5px 10px;
  background-color: dodgerblue;
  color: #fff;
  font-weight: 600;
  outline: none;
  border: 0;
  width: 100px;
  height: 30px;
  border-radius: 12px;
  margin-top: 20px;
  position: absolute;
  right: 0;
}

.editor-inside {
  position: relative;
}

.input-title {
  width: 60%;
  height: 30px;
  margin-bottom: 20px;
}

.news-container {
  border: 1px solid #cfcfcf;
  width: 80%;
  height: 200px;
}

/* 게시판 */

.List {
  padding: 30px;
  margin-left: 20px;
  margin-right: 20px;
  min-height: 250px;
  text-align: center;
}

.list_tit {
  border-bottom: solid 1px #ababab;
  color: #ababab;
}

.list_grid {
  display: grid;
  grid-template-columns: 20% 70%;
}

.list_data {
  line-height: 40px;
}

/* 버튼 스타일 */
.btn-2 {
  border-radius: 200px;
  outline: initial !important;
  box-shadow: none !important;
  font-size: 13px;
  height: 30px;
  width: 30px;
  line-height: 1;
  margin: 0 2px 0 2px;
  font-family: "Noto Sans KR", sans-serif;
}

.btn-color-2 {
  transition: 0.2s;
  background-color: #ecebe4;
  color: #444;
  cursor: pointer;
  outline: none;
  border: none;
}

.btn-p::before {
  content: "<";
}
.btn-n::before {
  content: ">";
}
.btn-f::before {
  content: "<<";
}
.btn-e::before {
  content: ">>";
}

/* 뷰 */

.post-view-wrapper {
  width: 60%;
  margin: 0 auto;
}

.post-view-go-list-btn {
  border: 0;
  padding: 10px;
  background-color: #ffd9d9;
}

.post-view-row {
  margin: 10px 0;
  display: flex;
}

.post-view-row > label:first-child {
  margin: 10px 0;
  width: 30%;
  font-weight: bold;
}

.post-view-row > *:nth-child(2) {
  margin: 10px 0;
  width: 70%;
}
